*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    letter-spacing: 2px;
    color: #2f2f2f;
}
.links {
    // height: 0;
    // overflow: hidden;
    // transition: .3s ease;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    background-color: burlywood;
    display: grid;
    grid-template-rows: auto ;
    row-gap: 1rem;
    transition: 0.5s ease;
    transform: translate(100%);
    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:  20px;
    }
    li{
    list-style: none;
    cursor: pointer;
    background-color: lightsalmon;
    padding: 20px;
    border: 1px solid lightsalmon;
    &:hover{
        transition: .3s ease;
        padding-left: 36px ;
        background-color: lightslategray;
        border: none;
        a {
            color: #000;
            transform: translateX(7px);
        }
    }
}
    
}
.show-links{
    transform: translate(0);
}
.toggle-nav{
    position: absolute;
    left: 300px;
    bottom:  100px;
}
button {
    padding: 6px;
    cursor: pointer;
    .fas {
        transition: 0.5s ease;
        &:hover{
            transform: rotateZ(90deg);
            color: rgb(110, 42, 173);
        }
    }
    // .up {
    //     transition: 0.5s ease;
    //     &:hover {
    //         transform: rotateZ(90deg);
    //     }
    //     div{
    //         width: 20px;
    //         height: 2px;
    //         background-color: #000;
    //         margin: 6px 0;
    //     }
    // }
    
}

.dark {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
}