* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
.container {
    width: 80%;
    margin: 40px auto;
    height: 80vh;
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
    /* background-color: hotpink; */
}
.header {
    /* width: 90%; */
    padding:  15px ; 
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E78383;
}
.bar  {
   padding: 20px;
   text-align: center;
   width: 350px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.bar2 {
    justify-self: center;
}

.bar img {
    width: 130px;
}
.nav i {
    margin-top: -12px;
    padding: 10px;
    /* border: 2px solid #fff; */
    background-color: #fff;
    border-radius: 50%;
    font-size: 1.2rem;
    color: #333;
}
.main {
    /* padding: 70px 0; */
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}
.main .links {
    color: #333;
    display: flex;
    flex-direction: column;
    padding: 60px 40px;
}
div.different {
    color: #E78383;
}
.links span {
    margin-left: 0;
    position: relative;
}
.links span::before {
    content: "";
    position: absolute;
    top: 9px;
    left: -40px;
    width: 25px;
    height: 3px;
    background-color: #E78383;
}
.ba  {
    line-height: 10px;
}
.ba .first {
    font-size: 1.9rem;
    font-weight: 500;
    color: #333;
}
.ba p:nth-child(2) {
    transform: translateX(-10px);
    font-size: 1rem;
    color: rgba(17, 17, 17, 0.808);
}
.image {
    padding: 70px 30px;
}
.info {
    padding: 54px 30px;
    width: 80%;
}
.info .style::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -9px;
    width: 50px;
    border-radius: 10px;
    height: 9px;
    background-color: #E78383;
}
.info .style::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 116px;
    height: 2px;
    background-color: #E78383;
}
.info h1 {
    position: relative;
    margin-bottom: 1rem;
    color: rgba(17, 17, 17, 0.959);
}
.info p {
    font-size: 1.2rem;
    color: rgba(51, 51, 51, 0.472);
}
.main-info span{
   color: rgba(17, 17, 17, 0.808);
}
.info .btn {
    color: #fff;
    text-decoration: none;
    background-color: #E78383;
    display: inline-flex;
    padding: 10px 30px;
    border-radius: 7px;
    transition: .5s;
}
.info .btn:hover {
    transform: scale(0.97);
}
.links div {
    display: flex;
    align-items: center;
    transition: .2s;
}
.links i {
    transform: translateY(-2px);
    margin-right: 12px;
}
.links div:hover {
    cursor: pointer;
    color: #E78383;
}